This project is used to culculate the estimate alpha and beta in capm formala.

## Getting the data.
Including a single stock's closing price and a index's closing price.

In [4]:
import pandas as pd

In [14]:
chosen_stock_file_path = r'D:\Important Files\Repositories\Machine-Learning-Project-related\Dissertation Project 1\Data\600873_UTF-8.CSV'
df_chosen_stock = pd.read_csv(chosen_stock_file_path)
market_portfolio_file_path = r'D:\Important Files\Repositories\Machine-Learning-Project-related\Dissertation Project 1\Data\000001_UTF-8.CSV'
df_market_portfolio = pd.read_csv(market_portfolio_file_path)
display(df_chosen_stock.head())
display(df_market_portfolio.head())

,ID,NAME,DATE,OPENING,HIGHEST,LOWEST,CLOSING,PRICE_CHANGE,PERCENTAGE_CHANGE,TRADING_VOLUME,TRANSACTION_AMOUNT
0,600873,????,1995-02-17,0.83,0.95,0.83,0.90,--,--,"11,954,900","69,198,000"
1,600873,????,1995-02-20,0.88,0.90,0.86,0.87,-0.0287,-3.1825,"3,859,200","22,417,000"
2,600873,????,1995-02-21,0.87,0.89,0.85,0.89,0.0180,2.0616,"2,091,500","12,031,000"
3,600873,????,1995-02-22,0.89,1.32,0.88,1.26,0.3698,41.4993,"16,299,000","118,230,000"
4,600873,????,1995-02-23,1.21,1.51,1.18,1.51,0.2531,20.0730,"18,309,200","158,378,000"

,ID,NAME,DATE,OPENING,HIGHEST,LOWEST,CLOSING,PRICE_CHANGE,PERCENTAGE_CHANGE,TRADING_VOLUME,TRANSACTION_AMOUNT
0,1,????,1990-12-19,96.0500,99.9800,95.7900,99.9800,--,--,"126,000","494,000"
1,1,????,1990-12-20,104.3000,104.3900,99.9800,104.3900,4.4100,4.4109,"19,700","84,000"
2,1,????,1990-12-21,109.0700,109.1300,103.7300,109.1300,4.7400,4.5407,"2,800","16,000"
3,1,????,1990-12-24,113.5700,114.5500,109.1300,114.5500,5.4200,4.9666,"3,200","31,000"
4,1,????,1990-12-25,120.0900,120.2500,114.5500,120.2500,5.7000,4.9760,"1,500","6,000"

## Change the DATE column into pd Datetime dataframe

In [ ]:
df_chosen_stock_cp = df_chosen_stock
df_market_portfolio_cp = df_market_portfolio
df_chosen_stock_cp['DATE'] = pd.to_datetime(df_chosen_stock_cp['DATE'])
df_market_portfolio_cp['DATE'] = pd.to_datetime(df_market_portfolio_cp['DATE'])
display(df_chosen_stock.info())
display(df_market_portfolio.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6903 entries, 0 to 6902
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  6903 non-null   int64
 1   NAME                6903 non-null   object
 2   DATE                6903 non-null   datetime64[ns]
 3   OPENING             6903 non-null   float64
 4   HIGHEST             6903 non-null   float64
 5   LOWEST              6903 non-null   float64
 6   CLOSING             6903 non-null   float64
 7   PRICE_CHANGE        6903 non-null   object
 8   PERCENTAGE_CHANGE   6903 non-null   object
 9   TRADING_VOLUME      6903 non-null   object
 10  TRANSACTION_AMOUNT  6903 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(1), object(5)
memory usage: 593.4+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8348 entries, 0 to 8347
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  8348 non-null   int64
 1   NAME                8348 non-null   object
 2   DATE                8348 non-null   datetime64[ns]
 3   OPENING             8348 non-null   object
 4   HIGHEST             8348 non-null   object
 5   LOWEST              8348 non-null   object
 6   CLOSING             8348 non-null   object
 7   PRICE_CHANGE        8348 non-null   object
 8   PERCENTAGE_CHANGE   8348 non-null   object
 9   TRADING_VOLUME      8348 non-null   object
 10  TRANSACTION_AMOUNT  8348 non-null   object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 717.5+ KB

None

## Drop useless columns & Convert string to float for closing price.

In [25]:
df_market_portfolio_cp = df_market_portfolio_cp[['DATE', 'CLOSING']]
df_chosen_stock_cp = df_chosen_stock_cp[['DATE','CLOSING']]
df_market_portfolio_cp['CLOSING'] = df_market_portfolio_cp['CLOSING'].replace({',': ''}, regex=True).astype('float64')
display(df_chosen_stock_cp.head())
display(df_market_portfolio_cp.head())
display(df_chosen_stock_cp.info())
display(df_market_portfolio_cp.info())

        DATE  CLOSING
0 1995-02-17     0.90
1 1995-02-20     0.87
2 1995-02-21     0.89
3 1995-02-22     1.26
4 1995-02-23     1.51

        DATE  CLOSING
0 1990-12-19    99.98
1 1990-12-20   104.39
2 1990-12-21   109.13
3 1990-12-24   114.55
4 1990-12-25   120.25

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6903 entries, 0 to 6902
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     6903 non-null   datetime64[ns]
 1   CLOSING  6903 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 108.0 KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8348 entries, 0 to 8347
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     8348 non-null   datetime64[ns]
 1   CLOSING  8348 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 130.6 KB

None

## Change the data into the same shape based on time.

In [ ]:
df = pd.merge(df_chosen_stock_cp, df_market_portfolio_cp, on='DATE', how='inner')
df = df.rename(columns = {'CLOSING_x': 'Chosen Stock Closing Price', 'CLOSING_y': 'Market Portfolio Closing Price'})
df.dropna(inplace = True)
display(df.head())
display(df.info())

        DATE  Chosen Stock Closing Price  Market Portfolio Closing Price
0 1995-02-17                        0.90                          533.76
1 1995-02-20                        0.87                          534.96
2 1995-02-21                        0.89                          541.14
3 1995-02-22                        1.26                          594.64
4 1995-02-23                        1.51                          589.12

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6903 entries, 0 to 6902
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   DATE                            6903 non-null   datetime64[ns]
 1   Chosen Stock Closing Price      6903 non-null   float64
 2   Market Portfolio Closing Price  6903 non-null   float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 161.9 KB

None

## Getting R_f